
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


body {
  background: #000000;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.01em; /* tight clean look */
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-item{
  color:white;
transition: all 0.3s ease-in;
}
.nav-item:hover{
  color:rgb(90, 90, 215);
  transform: scale(1.02);
  transform: translateY(-2px);
}

.btn-elm{
  color: white;
  transition: all 0.3s ease-in-out;

}

.btn-elm:hover{
  transform:  translateY(-1px);
}


